@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

* {
    font-family: 'Frank Ruhl Libre', serif;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
